<legend> Social Networks </legend>
<!-- Facebook -->
<div class="form-group">
    <label for="facebook" class="col-sm-3 control-label">Facebook</label>
    <div class="col-sm-8">
        <input type="text" ng-model="athlete.facebook" class="form-control" name="facebook" id="facebook" placeholder="Facebook" required>
    </div>
</div>
<!-- Twitter -->
<div class="form-group">
    <label for="twitter" class="col-sm-3 control-label">Twitter</label>
    <div class="col-sm-8">
        <input type="text" ng-model="athlete.twitter" class="form-control" name="twitter" id="twitter" placeholder="Twitter" required>
    </div>
</div>

<!-- Instagram -->
<div class="form-group">
    <label for="instagram" class="col-sm-3 control-label">Instagram</label>
    <div class="col-sm-8">
        <input type="text" ng-model="athlete.instagram" class="form-control" name="instagram" id="instagram" placeholder="Instagram" required>
    </div>
</div>

<!-- Button -->
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
        <a class="btn btn-md btn-info" ui-sref="navigation.interests">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Previous Section
        </a>
        <a class="btn btn-md btn-info" ui-sref="navigation.summary">
            Review and Submit
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>    
    </div>
</div>